
# Created by https://www.gitignore.io/api/netbeans
# Edit at https://www.gitignore.io/?templates=netbeans

### NetBeans ###
SistemaBanco/nbproject/private/
SistemaBanco/nbproject/Makefile-*.mk
SistemaBanco/nbproject/Package-*.bash
SistemaBanco/build/
SistemaBanco/nbbuild/
SistemaBanco/dist/
SistemaBanco/nbdist/
SistemaBanco/.nb-gradle/

# End of https://www.gitignore.io/api/netbeans